DATABASE_URL=postgresql://postgres:...

JWT_SECRET=___

API_URL=http://localhost:5555/api
CLIENT_URL=http://localhost:3000
# API_URL=https://xxq7brhq-5555.euw.devtunnels.ms/api
# CLIENT_URL=https://xxq7brhq-3000.euw.devtunnels.ms

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=mail@gmail.com
EMAIL_PASS='____ ____ ____ ____'